h3{
    font-family: Arial, Helvetica, sans-serif;
    background-color: tomato;
    font-size: larger;
    margin: 10px 10px 20px 10px;
    padding: 10px;
    text-align: center;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    margin: 15px 10px 20px 10px;
    padding: 10px;
    text-align: center;
    text-decoration: solid;
    line-height: 2rem;
}
#My-image{
    margin: 10px auto;
    width: 800px;
    height: auto;
    text-align: center;

}
img{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 8%;
}